.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-h-color);



            @media screen and (min-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
            }
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 768px) {
        
    }
    
        @media screen and (min-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 92px;
    margin: 15px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:480px) {
                width: 210px;
            }
        
            @media screen and (min-width: 768px) {
                width: 226px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 170px;
        
            }



&:hover,
&:focus {
    border: 1px solid var(--main-acent-color);
}
}

.client-icon {
    fill: currentColor;
}

.clients-item {
@media screen and (max-width: 479px) {
    width: calc((100% / 2) - 30px);
        }
  
}



