.footer {
    background-color: var(--accent-bgd-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
            @media screen and (min-width: 1200px) {
text-align: left;
                }

}
.footer-container {



        
            @media screen and (min-width: 1200px) {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
            }
}
.footer__logo--inverse {
    color: var(--contrast-text-h-color);
}

.footer__logo {
    padding: 0;
    margin-bottom: 20px;
}

.footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--contrast-text-h-color);
    margin-bottom: 20px;
}
.footer__socials{
    margin-bottom: 60px;
    @media screen and (min-width: 768px){
        margin-bottom: 0;
    }
     @media screen and (min-width: 768px) and
    (max-width: 1199px) {
        margin-left: 165px;
        }

}

.socials__link-footer {
    color: var(--contrast-text-h-color);
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-subscribe-container {
   

    @media screen and (min-width: 1200px) {
    margin-left: 93px;
    }
}

.address-container {
        @media screen and (min-width: 768px) and (max-width: 1199px)  {
            margin-left: 61px;
            margin-bottom: 60px;
        }
}