.navigation {
    display: flex;
    align-items: center;
}

.navigation__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.navigation__item:not(last-child) {
    margin-right: 50px;
}

.navigation__list {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
    }

}

.navigation__link {
    position: relative;
    display: block;
    color: var(--main-h-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
    color: var(--main-acent-color);
}

.navigation__link--current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-acent-color);
}