.socials {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--main-acent-color);
    color: var(--contrast-text-h-color);
}


}

.socials__icon {
    fill: currentColor;
}

