.subscribe__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--contrast-text-h-color);
    margin-bottom: 20px;
}

.subscribe__form {
    margin-top: 20px;
    

    @media screen and (min-width: 768px) {
    
    
    }
                
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.subscribe__field {
    background-color: transparent;
    color: var(--contrast-text-h-color);
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    outline: none;

    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus {
        border: 1px solid var(--main-acent-color);
    }
@media screen and (min-width:480px) {
width: 450px;
}

@media screen and (min-width: 1200px) {
width: 358px;
margin-right: 12px;

}

}


.subscribe__btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196F3;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--contrast-text-h-color);
    margin-left: auto;
    margin-right: auto;
}