:root {
    --main-text-color: #757575;
    --main-h-color: #212121;
    --main-acent-color: #2196F3;
    --contrast-text-h-color: #ffffff;
    --main-logo-color: #000000;
    --accent-bgd-color: #2F303A;
    --main-bgd-color: #F5F4FA;
}